@import "./variables.scss";

@keyframes nameAnimation {
  0% {
    color: $cerulean;
  }
  25% {
    color: $indian-red;
  }
  50% {
    color: $ecru;
  }
  75% {
    color: $verdigris;
  }
  100% {
    color: $cerulean;
  }
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Nunito";

  .main-cont {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20vh;
      margin: 0;
      padding: 2%;
      background-color: $cerulean;
      color: $timberwolf;
      font-size: 5vh;
      font-weight: bold;
    }

    .generator-cont {
      display: flex;
      background-color: $timberwolf;
      width: 100%;
      height: 95%;

      .name-list {
        padding-top: 2%;
        padding-bottom: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        height: 80vh;
        background-color: $ecru;
        overflow-y: scroll;

        .student-name {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 3vh;
        }

        .weight-counter {
          margin-top: 5px;
          display: flex;

          .minus-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background-color: $indian-red;
            font-size: 24px;
            border: 1px solid black;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;

            &:hover {
              border-top-left-radius: 15px;
              border-bottom-left-radius: 15px;
            }
          }

          .counter {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 38px;
            margin-top: 0;
            background-color: $timberwolf;
            border: 1px solid black;
            font-size: 24px;
          }

          .add-button {
            width: 40px;
            height: 40px;
            background-color: $verdigris;
            font-size: 24px;
            border: 1px solid black;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;

            &:hover {
              border-top-right-radius: 15px;
              border-bottom-right-radius: 15px;
            }
          }
        }
      }

      .generator {
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: center;
        margin-top: 5%;
        width: 75%;
        height: 60%;
        margin-left: 25%;

        .selected-name {
          display: flex;
          justify-content: center;
          text-align: center;
          margin-bottom: 10%;
          font-size: 100px;
          font-weight: 900;
          color: $cerulean;
        }
        button {
          width: 20%;
          height: 50px;
          border-radius: 5px;
          font-family: "Nunito";
          font-size: 3vh;
          font-weight: 400;
          background-color: $indian-red;

          &:hover {
            transform: scale(1.1);
            border-radius: 15px;
            cursor: pointer;
            background-color: $verdigris;
          }
        }

        .explanation {
          display: flex;
          justify-content: center;
          text-align: center;
          margin: 10% 5% 5% 5%;
          padding: 2%;
          border: 1px black solid;
          font-size: 20px;
        }
      }

      .animate {
        animation: nameAnimation 5s infinite;
      }
    }
  }
}
